ReactUI/node_modules
ReactUI/.DS_Store
ReactUI/dist
ReactUI/dist-ssr
ReactUI/*.local
ReactUI/count.txt
ReactUI/.env
ReactUI/.nitro
ReactUI/.tanstack

.env

obj/
bin/
bin\Debug
*.nuget.dgspec.json
*.nuget.props
*.nuget.targets
project.assets.json
aspnetcore/Web/publish